﻿
@{
    ViewBag.Title = "Index";
}

@if (!Request.IsAuthenticated)
{
    <h2>Weclome to Backup tracker</h2>
    <p>Please login to use application</p>
} else
{
    <h2>Welcome @User.Identity.Name</h2>
}

