﻿@model UI.Models.GuildViewModel
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    if (Html.ViewData.ModelState.ContainsKey(""))
    {
        <div class="alert alert-danger">@Html.ValidationSummary(true)</div>
    }
    @Html.EditorFor(m => m.Name)

    <div class="form-group">
        @Html.LabelFor(m => m.RealmId)
        @Html.DropDownListFor(m => m.RealmId, ViewBag.RealmItems as IEnumerable<SelectListItem>, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.RealmId)
    </div>



    <input type="submit" class="btn btn-default" value="Submit" />
}

