﻿@model UI.Models.CharacterViewModel
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.EditorFor(m => m.Name)
    <div class="form-group">
        @Html.LabelFor(m => m.RealmId)
        @Html.DropDownListFor(m => m.RealmId, ViewBag.RealmItems as IEnumerable<SelectListItem>, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.RealmId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ClassId)
        @Html.DropDownListFor(m => m.ClassId, ViewBag.ClassItems as IEnumerable<SelectListItem>, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ClassId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PrimarySpecializationId)
        @Html.DropDownListFor(m => m.PrimarySpecializationId, ViewBag.SpecializationItems as IEnumerable<SelectListItem>, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.PrimarySpecializationId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.SecondarySpecializationId)
        @Html.DropDownListFor(m => m.SecondarySpecializationId, ViewBag.SecondarySpecializationItems as IEnumerable<SelectListItem>, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.SecondarySpecializationId)
    </div>

    <input type="submit" value="Submit" />
}


@section scripts{
    @Scripts.Render("~/Scripts/Custom")  
    }