﻿@model Dictionary<int, List<UI.MenuService.UserAction>>
<ul class="nav navbar-nav">

    @*Model[0] are all root actions*@
    @foreach (var userAction in Model[0])
    {

        if (Model.ContainsKey(userAction.Id))
        {
            <li>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    @userAction.Name
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="@userAction.Action">@userAction.Name</a></li>
                    @foreach (var childAction in Model[userAction.Id])
                    {
                        <li><a href="@childAction.Action">@childAction.Name</a></li>
                    }

                </ul>
            </li>
        }
        else
        {
            <li>
                <a href="@userAction.Action">@userAction.Name</a>
            </li>
        }

    }
</ul>
