﻿@model List<UI.GuildService.GuildApplicant>
@{Layout = null;}
<table class="table table-striped">
    <thead>
        <tr>
            <td>Name</td>
            <td>Class</td>
            <td>Main spec</td>
            <td>Off spec</td>
            <td>Date of application</td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var guildApplicant in Model)
        {
            <tr>
                <td>@guildApplicant.CharacterName</td>
                <td>@guildApplicant.ClassName</td>
                <td>@guildApplicant.PrimarySpecialization</td>
                <td>@guildApplicant.SecondarySpecialization</td>
                <td>@guildApplicant.DateOfApplication</td>
                <td>
                    @using (Html.BeginForm("Accept","GuildApplicants"))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("ApplicationId", guildApplicant.Id)

                        <input type="submit" class="btn btn-primary" value="Accept"/>

                    }
                </td>
                <td>
                    @using (Html.BeginForm("Decline", "GuildApplicants"))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("ApplicationId", guildApplicant.Id)

                        <input type="submit" class="btn btn-danger" value="Decline"/>
                    }
                </td>
            </tr>
        }
    </tbody>

</table>
