﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("ImportRealms", "Administration"))
{
    @Html.AntiForgeryToken()
    <input type="submit" class="btn btn-default" value="Import realms"/>
}

@using (Html.BeginForm("ImportClasses", "Administration"))
{
    @Html.AntiForgeryToken()
    <input type="submit" class="btn btn-default" value="Import classes" />
}

