﻿@model UI.Models.EditUserViewModel
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@Html.DisplayFor(m => m.Username)
<br/>
@Html.DisplayFor(m => m.Email)
@using (Html.BeginForm("Edit", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.Username)
    @Html.HiddenFor(m => m.Email)

    @Html.EditorFor(m => m.Battletag)

    <input type="submit" class="btn btn-default" value="Submit" />
}
