﻿@model UI.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
}
<h2>Login</h2>

@using (Html.BeginForm("Login", "Account"))
{
    @Html.AntiForgeryToken()

    @Html.EditorFor(m => m.Username)
    @Html.EditorFor(m => m.Password)

    <input type="submit" class="btn btn-default" />
}

