﻿@model  UI.Models.RegistrationViewModel
@{
    ViewBag.Title = "Register";
}

@if (ViewData.ModelState.Keys.Contains(""))
{
    <div class="alert alert-danger">
        @Html.ValidationSummary(true)
    </div>
}

<h2>Register</h2>



@using (Html.BeginForm("Register", "Account"))
{
    @Html.AntiForgeryToken()

    @Html.EditorFor(m => m.Email)
    @Html.EditorFor(m => m.Username)
    @Html.EditorFor(m => m.Password)
    @Html.EditorFor(m => m.RepeatedPassword)

    <input type="submit" class="btn btn-default" value="Register" />

}

